/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */

body {
  background-color: LightCyan
  font-family: Arial, Helvetica, Sans-serif;
  margin: 10% 20%;

}

h1 {
  color: IndianRed;
  text-align: center;
}

footer {
  color: IndianRed;
}

img {
  border: 5px solid LightBlue;
}

p {
  color: SteelBlue;
  font-style: italic;
}
