/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */

body {
  background-color: DarkRed;
}

.header {
  color: DarkRed;
  background-color: AliceBlue;
  text-align: center;
  padding: 1px;
}

.centerImage {
  display: block;
  background-color: #b96666;
  width: 500px;
  border: 5px solid #a84040;
  padding: 25px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

h3, li {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  list-style-position: inside;
}

p {
  color: DarkRed;
  font-style: italic;
}

.footer {
  background-color: AliceBlue;
  text-align: center;
  border: 1px solid AliceBlue;
  margin-top: 5%;
}
